.wrapper {
    width: 40%;
    margin: 0 auto;
    background-color: hsl(230, 100%, 99%);
    box-shadow: -10px 10px 2rem hsl(226, 100%, 87%), 10px 10px 2rem hsl(226, 100%, 87%);
    border-radius: 15px;
    padding: 0 3rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .1rem;
}

.views {
    color: hsl(225, 20%, 60%);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.price {
    font-size: 3rem;
    font-weight: bold;

    &__month {
        font-size: 1.2rem;
        color: hsl(225, 20%, 60%);
        font-weight: medium;
    }
}

.priceMobile {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   

    &__month {
        font-size: 1.2rem;
        color: hsl(225, 20%, 60%);
        font-weight: medium;
        margin-left: 1rem;
    }
}

.priceMobile {
    display: none;
}

// input 

.range {
    width: 100%;
    appearance: none;
    border-radius: 50px;
    height: .8rem;
    background-color: hsl(224, 65%, 95%);
    outline: none;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
		width: 100%;
        height: .8rem;
	    border-color: transparent;
	    border-radius: 5px;
	    background-color: transparent;
	    cursor: pointer;
	}
	
    &::-moz-range-track {
        width: 100%;
        height: .8rem;
	    border-color: transparent;
	    border-radius: 5px;
	    background-color: transparent;
	    cursor: pointer;
    }
  

	&::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 2.5rem;
        width: 2.5rem;
        background-color: hsl(174, 86%, 45%);
        background-image: url('/assets/icon-slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -.8rem;
        border: none;
        border-radius: 50%;
        cursor: pointer;
	}

    &::-moz-range-thumb {
        height: 2.5rem;
        width: 2.5rem;
        background-color: hsl(174, 86%, 45%);
        background-image: url('/assets/icon-slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
	}
    

    &:focus::-webkit-slider-thumb {
        background-color: hsl(174, 66%, 41%);
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem hsl(174, 77%, 80%);
    }
}

//line 

.line {
    width: 100%;
    height: 1px;
    background-color: hsl(224, 65%, 95%);
    margin: 2rem 0 1.5rem;
}

//info

.info {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    
    &__list {
        list-style-image: url('../assets/icon-check.svg');
        color: hsl(225, 20%, 60%);
        text-align: left;
    }
   
    &__item {
        font-size: .8rem;
        font-weight: bold;
        margin-bottom: .8rem;
        padding-left: 1rem;
    }

    &__btn {
       padding: .8rem 3rem;
       background-color:  hsl(227, 35%, 25%);
       color: hsl(226, 100%, 87%);
       outline: none;
       border: none;
       border-radius: 50px;
       font-size: .8rem;
        cursor: pointer;

       &:hover {
           color: hsl(230, 100%, 99%);
       }
    }
}

@media all and (max-width: 1024px) {
    .wrapper {
        width: 50%;
    }
}


@media all and (max-width: 1024px) {
    .wrapper {
        width: 60%;
    }

    .info {
        flex-direction: column;
        justify-content: center;
    }

    .views {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .price {
        display: none;
    }

    .priceMobile {
        display: flex;
    }
}

@media all and (max-width: 632px) {
    .wrapper {
        width: 80%;
    }
}